@media screen and (min-width: 640px) {
}

@media screen and (min-width: 640px) and (orientation: landscape) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1289px) {
}

@font-face {
  font-family: "Linotte Bold";
  src: url("../fonts/r0c0iLinotte-Bold.eot");
  src: url("../fonts/r0c0iLinotte-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/r0c0iLinotte-Bold.woff2") format("woff2"),
    url("../fonts/r0c0iLinotte-Bold.woff") format("woff"),
    url("../fonts/r0c0iLinotte-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Linotte Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
}
