@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  min-width: 100%;
  background: url("../images/bg_main_page.png") no-repeat 100% 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1rem;
}

.decor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.decor__star {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.decor__star img {
  width: 100%;
}
.decor__light-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url("../images/img_highlight_jojo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-50%, -50%);
  animation: rotate-bg 30s linear infinite;
  z-index: 1;
  overflow: hidden;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  z-index: 2;
}

@keyframes rotate-bg {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.lst-box-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 920/729;
  max-width: 45%;
}

.game-content {
  background-image: url("../images/bg_frame_matrix.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 9%;
  position: relative;
  z-index: 10;
}

.game-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  z-index: 2;
}
.game-action button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  max-width: 12.5%;
}
.game-action button img {
  width: 100%;
  object-fit: contain;
}

.game-header {
  width: 35%;
  transform: translateY(32%);
  z-index: 12;
}
.game-header__logo {
  width: 100%;
  max-width: 12.5%;
}
.game-header__logo img {
  width: 100%;
  object-fit: contain;
}
.game-header__title {
  width: 100%;
  max-width: 25%;
}
.game-header__title img {
  width: 100%;
  object-fit: contain;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột, mỗi cột rộng 100px */
  grid-template-rows: repeat(3, 1fr); /* 3 hàng, mỗi hàng cao 100px */
  perspective: 600px; /* Hiệu ứng 3D cho lật thẻ */
}

.card-flip {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative; /* Quan trọng cho việc lật */
  transform-style: preserve-3d; /* Đảm bảo các mặt phẳng con được giữ trong không gian 3D */
  transition: transform 0.5s; /* Thời gian lật */
  cursor: pointer;
  border: 0 !important;
}

.card-flip.is-flipped {
  transform: rotateY(180deg); /* Lật thẻ 180 độ quanh trục Y */
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Ẩn mặt sau khi chưa lật */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.card-back {
  background-color: #4682b4; /* Màu xanh ban đầu */
  color: white;
  font-size: 6rem;
  font-weight: bold;
}

/* Styling cho mặt sau khi hiển thị dấu "?" */
.card-back.initial {
  background-color: #6a6a6a; /* Màu xám cho dấu "?" */
  font-size: 3em; /* Kích thước lớn hơn cho dấu "?" */
  color: white;
  cursor: not-allowed;
}

.card-front {
  background-color: #eee; /* Màu nền khi lật */
  color: #333;
  transform: rotateY(180deg); /* Mặt trước ban đầu quay 180 độ để ẩn */
  text-align: center;
}

.card-back.default-color,
.card-front.default-color {
  background-color: #f4f4e5;
  color: #35add6;
}

.card-back.special-color,
.card-front.special-color {
  background-color: #ffb3c7;
  color: #ffffff;
}

.default-front-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.default-front-card img {
  width: 100%;
  object-fit: contain;
  max-width: 40%;
}

.card-jojo {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  background-image: url("../images/img_highlight_jojo.png"),
    linear-gradient(to top, #edbae7, #af94d4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 150% 150%;
  background-repeat: no-repeat;
  background-position: center center;
}
.card-jojo img {
  width: 100%;
  object-fit: contain;
  max-width: 50%;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 6px solid #fa9fc1;
  border-radius: 1rem;
  background-color: #bee6f3;
}

.modal-content::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 6px solid #fff;
  border-radius: 1rem;
}

.modal-header {
  width: 100%;
  border-bottom: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  color: #0f779a;
}

.modal-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #0f779a;
}

.modal-footer {
  width: 100%;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.modal-footer .btn-close-modal {
  width: 40%;
  opacity: 1;
  border: none;
  background-color: transparent;

  transform: translateY(calc(100% - 16px));
}

.modal-footer .btn-close-modal img {
  width: 100%;
}
